* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: none;
}

header a {
    display: inline;
    text-decoration: none;
    color: plum;
    padding: 40px;
    float: left;
}

header h4 {
    display: inline;
    float: right;
    padding: 40px;
}

/* start sreen styling */

.center {
    text-align: center;
    padding: 300px;
}

#norway {
    display: block;
    padding: 10px;
    color: purple;
}

#startScreen p {
    display: block;
    padding: 20px;
}

button {
    display: inline;
    background-color: darkblue;
    padding: 10px;
    color: white;
    text-decoration: none;
    border-radius: 8px;
}

/* quiz phase css */

#quiz {
    display: none;
}


#answers {
    float: left;
    list-style-type: none;
}